In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

path= ("/Users/davidpinosproano/Desktop/COSC 301/project301/git/course-project-group_6004/analysis/kickstarter.csv")



def load_and_process(url_or_path_to_csv_file):
    df1 = pd.read_csv(url_or_path_to_csv_file).dropna()
    return df1

df = load_and_process(path)

sns.set_style("ticks")
sns.set_context("paper",font_scale=1.5)
# creating column that shows succes rate

df = df.assign(Percent_Funded= lambda df:df['pledged']/df['goal']*100)

df2 = df.loc[:,['main_category','Percent_Funded']]
df2 = df2.groupby(by="main_category").mean()
df2
# this is the percent funding per category

               Percent_Funded
main_category
Art                249.235927
Comics             643.382447
Crafts             244.074641
Dance               80.740848
Design             208.084678
Fashion            100.408656
Film & Video       152.530698
Food                83.894856
Games              746.502457
Journalism          50.108692
Music              817.961881
Photography         61.421045
Publishing         184.623887
Technology         295.651588
Theater            100.901195

In [ ]:
df3 = df.loc[:,['goal','Percent_Funded']]
sns.pairplot(df3)